@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-heading: "Bitcount Grid Single Ink", monospace;
  --font-sans: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background-image-pattern: url('/assets/bg-pattern.png');

  --color-bg: #1e3a8a;
  --color-gold: #facc15;
  --color-accent: #f9a8d4;
  --color-skyBlue: #38bdf8;
  --color-carcoal: #111827;
}
